/* header */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.header__address {
    max-width: 240px;
    justify-self: end;

}

/* main */
/* Секция cover */

.cover {
    padding: 165px 50px 50px;
    min-height: 757px;
    position: relative;
    color: #FFFFFF;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 186px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity: 60%;
    z-index: 1;
}

.cover__title {
    margin-bottom: 106px;
    position: relative;
    z-index: 2;
}

.aligned-text {
    display: block;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    margin-left: 30px;
}

.aligned-text_right {
    text-align: right;
    margin-bottom: 0;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18.5px;
}

.bet-button {
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    padding: 12px 32px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/* Секция lots */
.lots {
    padding: 0 24px;
    margin-bottom: 155px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-bottom: 34px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link,
.card {
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    z-index: 2;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

/* Секция about */

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding: 0 24px;
    margin-bottom: 185px;
}

.about__column-left {
    display: flex;
    justify-content: center;
}

.about__column-right {
    margin-left: 25px;
}

.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin: 102px 0 103px 0;
}

.about__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/* footer */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px 82px;
}

.footer__menu-list {
    list-style-type: none;
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}

.footer__menu-link_active {
    text-decoration: none;
}


.footer__social-list {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 48px;
}